
<!-- main div that holds the body's contents -->
<div class="container home-body">
    <!-- main home image -->
    <img class='home-main-img' src="./images/omen_HPBdesktop-060617.1496769160.4c70ee61.jpg" alt="sales image">
    <div class="logo-div">
        <!-- all the longboard logos that appear in a row below the main-img -->
        <div><img class='img-responsive' src="./images/brand_logos/abec11-brand-small-slider.1441391070.7562c7cd.png" alt="brand logo"></div>
        <div><img class='img-responsive' src="./images/brand_logos/bustin-brand-small-slider-new.1441391073.f4de7bbb.jpg" alt="brand logo"></div>
        <div><img class='img-responsive' src="./images/brand_logos/caliber-brand-small-slider-1.1441391071.01ff9089.png" alt="brand logo"></div>
        <div><img class='img-responsive' src="./images/brand_logos/comet-brand-small-slider.1441391070.e7e10b43.png" alt="brand logo"></div>
        <div><img class='img-responsive' src="./images/brand_logos/landyachtz-brand-slider-050417.1493846906.cff081bc.png" alt="brand logo"></div>
        <div><img class='img-responsive' src="./images/brand_logos/loaded-brand-small-slider.1441391071.8f3c0bc0.png" alt="brand logo"></div>
        <div><img class='img-responsive' src="./images/brand_logos/never-summer-brand-small-slider.1441391071.760711dc.png" alt="brand logo"></div>
        <div><img class='img-responsive' src="./images/brand_logos/sector9-brand-small-slider.1441391071.c8718dc2.png" alt="brand logo"></div>
        <div><img class='img-responsive' src="./images/brand_logos/vans-brand-slider-050417.1493846906.5a23e3ca.png" alt="brand logo"></div>
        <div><img class='img-responsive' src="./images/brand_logos/volcom-brand-small-slider-1.1441391071.894b9476.png" alt="brand logo"></div>
    </div>
    <hr>
    <h1 class='featured-items-text'>FEATURED ITEMS</h1>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="featured-items-div">
                    <div class='featured-items-inner-div'>
                        <img src="./images/feat-SECTOR-050317.1493851893.ff02d449.jpg" alt="featured item">
                        <h4>SHOP SECTOR 9 ></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class='featured-items-inner-div'>
                    <img src="./images/feat-LANDYACHTZ-050317.1493851893.23517874.jpg" alt="featured item">
                    <h4>SHOP LANDYACHTS ></h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class='featured-items-inner-div'>
                    <img src="./images/feat-RAYNE-050317.1493851893.647a5e7c.jpg" alt="featured item">
                    <h4>SHOP RAYNE ></h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class='featured-items-inner-div'>
                    <img src="./images/feat-LOADED-050317.1493851893.d55469ba.jpg" alt="featured item">
                    <h4>SHOP LOADED ></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<h1 class='most-popular-categories-text'>MOST POPULAR CATEGORIES</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="most-popular-categories-row-1">
                <div class="popular-categories-div">
                    <img class='img-responsive' src="./images/most_popular/Longboarding-050417.1493849198.60c84405.jpg" alt="most popular item">
                    <h4>LONGBOARDING</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="popular-categories-div">
                <img class='img-responsive' src="./images/most_popular/shoes-050417.1493849198.78197f04.jpg" alt="most popular item">
                <h4>SHOES</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="popular-categories-div">
                <img class='img-responsive' src="./images/most_popular/skateboard-050417.1493849199.ced9ff3d.jpg" alt="most popular item">
                <h4>SKATEBOARDING</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="most-popular-categories-row-2">
            <div class="popular-categories-div">
                <img class='img-responsive' src="./images/most_popular/clothing-050417.1493849198.e5779dde.jpg" alt="most popular item">
                <h4>APPAREL</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="popular-categories-div">
            <img class='img-responsive' src="./images/most_popular/snowboard-050417.1493849199.536c0f7a.jpg" alt="most popular item">
            <h4>SNOWBOARDING</h4>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="popular-categories-div">
            <img class='img-responsive' src="./images/most_popular/accessories-050417.1493849198.6d087a8c.jpg" alt="most popular item">
            <h4>ACCESSORIES</h4>
        </div>
    </div>
</div>
</div>
</div>

<div class="about-container">
    <div class="about-daddies">
        <img src="./images/daddies/about-daddies-black.1441394049.ee5db4bf.png" alt="about daddies black ribbon">
        <p><span class='the-year'>The Year: 1995.</span> Humans repelled the Martian invasion. Scientists discovered the medicinal properties of Pop Tarts. And Daddies Board Shop opened in 700 square feet on Sandy Blvd. in Portland, Oregon. Daddies was born
            out of a passion for skateboarding, snowboarding, and providing the best customer service to anyone who came into the shop (excluding shoplifters). Then, we discovered two things of pure beauty: the Internet and longboards. Daddies went online
            in 1998 and started selling longboards in 1999. Today Daddies sells more longboards, longboard trucks, longboard wheels, and longboard stuff than anyone in the United States, probably the world, and possibly the galaxy. How have we done it?
            Check it.</p>
    </div>

    <div class="team-riders">
        <img class='' src="./images/daddies/team-hp-thumbs.1454953250.159ac0b8.jpg" alt="team pictures">
    </div>
</div>
</div>
