<div class="home-body">



<!-- main home image -->
<img class = 'home-main-img' src="./images/HP-MEMORIAL-DAY1-052617.1495818620.jpg" alt="sales image">
<!-- ....... -->

<div class="logo-div">
  <div><img src="./images/brand_logos/abec11-brand-small-slider.1441391070.png" alt="brand logo"></div>
  <div><img src="./images/brand_logos/bustin-brand-small-slider-new.1441391073.jpg" alt="brand logo"></div>
  <div><img src="./images/brand_logos/caliber-brand-small-slider-1.1441391071.png" alt="brand logo"></div>
  <div><img src="./images/brand_logos/comet-brand-small-slider.1441391070.png" alt="brand logo"></div>
  <div><img src="./images/brand_logos/landyachtz-brand-slider-050417.1493846906.png" alt="brand logo"></div>
  <div><img src="./images/brand_logos/loaded-brand-small-slider.1441391071.png" alt="brand logo"></div>
  <div><img src="./images/brand_logos/never-summer-brand-small-slider.1441391071.png" alt="brand logo"></div>
  <div><img src="./images/brand_logos/sector9-brand-small-slider.1441391071.png" alt="brand logo"></div>
  <div><img src="./images/brand_logos/vans-brand-slider-050417.1493846906.png" alt="brand logo"></div>
  <div><img src="./images/brand_logos/volcom-brand-small-slider-1.1441391071.png" alt="brand logo"></div>
</div>

<hr>
<h1 class = 'featured-items-text'>FEATURED ITEMS</h1>
<hr>
<div class="featured-items-div">
  <div class = 'featured-items-inner-div'>
    <img src="./images/feat-SECTOR-050317.1493851893.jpg" alt="featured item">
    <h1>SHOP SECTOR 9 ></h1>
  </div>
  <div class = 'featured-items-inner-div'>
    <img src="./images/feat-LANDYACHTZ-050317.1493851893.jpg" alt="featured item">
    <h1>SHOP LANDYACHTS ></h1>
  </div>
  <div class = 'featured-items-inner-div'>
    <img src="./images/feat-RAYNE-050317.1493851893.jpg" alt="featured item">
    <h1>SHOP RAYNE ></h1>
  </div>
  <div class = 'featured-items-inner-div'>
    <img src="./images/feat-LOADED-050317.1493851893.jpg" alt="featured item">
    <h1>SHOP LOADED ></h1>
  </div>
</div>

<hr>

<h1 class = 'most-popular-categories-text'>MOST POPULAR CATEGORIES</h1>

<div class="most-popular-categories-row-1">
  <div class="popular-categories-div">
    <img src="./images/most_popular/Longboarding-050417.1493849198.jpg" alt="most popular item">
    <h1>LONGBOARDING</h1>
  </div>
  <div class="popular-categories-div">
    <img src="./images/most_popular/shoes-050417.1493849198.jpg" alt="most popular item">
    <h1>SHOES</h1>
  </div>
  <div class="popular-categories-div">
    <img src="./images/most_popular/skateboard-050417.1493849199.jpg" alt="most popular item">
    <h1>SKATEBOARDING</h1>
  </div>
</div>

<div class="most-popular-categories-row-2">
  <div class="popular-categories-div">
    <img src="./images/most_popular/clothing-050417.1493849198.jpg" alt="most popular item">
    <h1>APPAREL</h1>
  </div>
  <div class="popular-categories-div">
    <img src="./images/most_popular/snowboard-050417.1493849199.jpg" alt="most popular item">
    <h1>SNOWBOARDING</h1>
  </div>
  <div class="popular-categories-div">
    <img src="./images/most_popular/accessories-050417.1493849198.jpg" alt="most popular item">
    <h1>ACCESSORIES</h1>
  </div>
</div>

<div class="container-fluid about-container">
  <div class="row">

<div class="col-sm-6">


  <div class="about-daddies">
    <img src="./images/daddies/about-daddies-black.1441394049.png" alt="about daddies black ribbon">
      <p><span class = 'the-year'>The Year: 1995.</span> Humans repelled the Martian invasion. Scientists discovered
      the medicinal properties of Pop Tarts. And Daddies Board Shop opened in 700
      square feet on Sandy Blvd. in Portland, Oregon. Daddies was born out of a passion
      for skateboarding, snowboarding, and providing the best customer service to anyone
      who came into the shop (excluding shoplifters). Then, we discovered two things of pure beauty:
      the Internet and longboards. Daddies went online in 1998 and started selling longboards in 1999.
      Today Daddies sells more longboards, longboard trucks, longboard wheels, and longboard stuff than
      anyone in the United States, probably the world, and possibly the galaxy.
      How have we done it? Check it.</p>
   </div>
   </div>

<div class="col-sm-6">


  <div class="team-riders">
    <img src="./images/daddies/team-hp-thumbs.1454953250.jpg" alt="team pictures">
  </div>
  </div>
</div>
</div>

</div>
