<!-- <img id="zoom_05" src="small/image1.png" data-zoom-image="large/image1.jpg"/> -->


<div class="outer-wrap">

<div class="flex-div">

<div class="space left-div">

</div>
<div zoom-dir  class="image-wrap">


  <img ng-src="{{singleBoard.imagelarge}}" alt="longboard image">
</div>

<div class="space right-div">

</div>
</div>
<h4>Length: {{singleBoard.boardlength}}''</h4>
<h4>Width: {{singleBoard.boardwidth}}''</h4>
<h4>Wheelbase: {{singleBoard.wheelbase}}''</h4>
<h4>Construction: {{singleBoard.contruction}}</h4>
<h4>Concave: {{singleBoard.concave}}</h4>
<h4>Flex: {{singleBoard.flex}}</h4>

<button type="button" name="button">ADD TO CART</button>

</div>
