.main-cart-div{
  text-align: left;
}

.cart-item-image{
  width: 10vw;
  margin: 15px 0px 15px 0px
}
.cart-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.price-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 20px;
}
.cart-flex h5{
    margin-left: 10px;

}
.cart-price{
  color: #e44343;
  font-size: 1.5vw;
}
#cart-price-word{
  font-weight: bold;
  text-decoration: underline;
}

.separate-price{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.trash-button{
  width: 3.5vw;
}
.trash-button i{
  font-size: 2vw;
}
.total{
  color: #e44343;
  text-align: right;
}
