body
  text-align: center

.space
  width: 20vw
  height: 550px

.flex-div
  display: flex
  justify-content: center

.add-to-cart-button
  background: #FD4F00
  color: white
  width: 17vw
  font-size: 1.5vw
  font-weight: bold

.add-to-cart-button:hover
  background: #ffa841

.description-div
  border: 1px solid black
  margin: 2vw 12vw 2vw 12vw
  padding: 0vw 3vw 1vw 3vw
  text-align: left
  background: linear-gradient(to bottom right, #bdbdbd, white)

.bold-underline
  font-weight: bold
  text-decoration: underline

.details-boardname
  margin-top: 30px

.metrics-div
  border: 1px solid black
  margin: 2vw 25vw 2vw 25vw
  padding: 0vw 3vw 1vw 4vw
  text-align: left
  background: linear-gradient(to bottom right, #bdbdbd, white)


.stats-flex
  display: flex
  justify-content: flex-start
  align-items: center

.stats-left
  margin-right: 1vw
  border-right: 1px solid black
  padding-right: 1vw
  font-size: 1vw

.stats-right h5
  font-size: 1vw

.stats-left h5
  font-size: 1vw

.board-stats-header
  font-size: 1.5vw

.details-image
  width: 100%
